extends base

block content
  .hero-section
    img(class="hero-image" src="/img/hero-img.jpg" alt="Hero Image")
    .hero-text-container 
      .hero-text Embark on extraordinary voyages 
        br 
        div and explorations
      a.btn__primary(href=`#main`) View Tours
  main#main.main
    .tours-heading-container
      p Tours
      h2 The best tours to explore
    .card-container
      each tour of tours
        .card
          .card__header
            .card__picture
              img.card__picture-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

          .card__details2
            .text__secondary 
              span= tour.ratingsAverage.toFixed(1)
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-star')
              span out of #{tour.ratingsQuantity} reviews
            p.heading= tour.name
            p.pricing From 
              span.value $#{tour.price}
              span /adult
            .text__secondary
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-map-pin')
              span= tour.startLocation.address
            .text__secondary
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-clock')
              span= `${tour.duration}-day `
              span.capitalize #{tour.difficulty}
              span  tour
            a.btn__primary(href=`/tour/${tour.slug}`) View Details
